*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.home_heading{
    background-image: url('../IMAGES/WorldMap.svg');
}
.start{
    align-items: center;
}
.intro{
    font-style: italic;
}
.country
{
    background-color: #2C74B3;
}

.container{
    display: flex;
    justify-content: space-around;
}

.fa-star{
    font-size: 1.1em;
    cursor: pointer;
}
.testimonials_pic{
    width: 2.5em;
}
.testify{
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);

}
.star{
    color: #ffd700;
}
/* .vl{
    border-left: 2px solid black;
    height: 10px;
} */
.fact{
    color: #0E2A47;
}
.card p{
    color: #0E2A47;
}
.testimonials span{
    color: #0E2A47;
}
.testimonials p{
    color:#0E2A47;
}
.end{
    background-color: #2C74B3;
    color: #0E2A47;
    /* height: 70vh; */
}
hr{
    margin: 2em;
    background: white;
    height: 0.1em;
}
.new{
    margin: 2em;
    background: black;
    height: 0.1em;
}
.fa-brands{
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    /* margin:0 1.25em 1.25em 0; */
    text-align:center;
    line-height: 2.5em;
    border-radius: 50%;
    color: #0E2A47;
    transition: all 0.2s ease;
    padding: 0.7em 0 0 0;
    background-color: white;
}
.fa-earth-americas{
    color: white;
    margin-top: 0.3125em;
}
.circle{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-color: #00344A;
}
.country_result{
    /* height: 100vh; */
    background-color: rgba(245, 245, 245, 0.502);
}
.flag-img{
    width: 300px;
    height: 250px;
    min-width: 7.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.country_result h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}
.data-wrapper{
    margin-bottom: 2em;
    letter-spacing: 0.3px;
}

.data-wrapper h4{
    margin: 5px 0;
}

.country_result h4{
    display: inline;
    font-weight: 700;
    color: #144272;
}
.country_result span{
    color: #0A2647;
}
.country_result h3{
    color: #144272;
    text-align: center;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 15px 15px rgba(0,0,0,.2);
    font-weight: 700;
   
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.country_search_left,
.country_search_right{
    width: 45%;
}

table{
    width: 100%;
}

table th, table td{
    text-align: start;
    padding: 0 10px;
}

#map{
    height: 300px;
    width: 300px;
}

/* About */
.about_header{
    background-image: linear-gradient(rgba(18, 23, 62, 0.5), rgba(15, 19, 35, 0.5)),url('../IMAGES/about_back.jpg');
    background-position: cover;
    /* height: 100svh; */
}
.inquiry{
    background-color: #144272;
}
.About_us{
    background-color: #ffff;
}
.About_us p{
    text-align: justify;
}
.image_about{
    width: 200px;
    height: 200px;
}
.about_image{
    width: 15em;
    height: 15em;
}
.drop-list .select-box{
    display: flex;
    height: 3em;
    width: 110px;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
} 
.select-box select{
    width: auto;
}
.select-box img{
    max-width: 2em;
}
.select-box select::-webkit-scrollbar{
    background: #fff;
}
.select-box select::-webkit-scrollbar-track{
    width: 8px;
}
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #fff;
}
.services img{
    width: 300px;
    height: 150px;
}


/* landing page */
.landing_page{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../IMAGES/colin-watts-tK7Itp99R6M-unsplash.jpg');
    background-size: cover;
    background-position:center;
    overflow: hidden;
    min-height: 100vh;
    }
    .hero{
        width: 100%;
        height: 100%;
    }
  .landing_header{
    width: 100%;
    }
  .hero .content{
    display: flex;
    justify-content: space-between;
  }
  .info{
    margin-left: 5em;
  }
  .index_icons{
    position: fixed;
    display: flex;
    flex-flow:column wrap;
    color: white;
    top: 40%;
    margin-left: 1.2em;
  }  
    .hero .content .travellers{
        display: flex;
        flex-direction: row;
     }
     .land_travellers{
        width: 200px;
        height: 220px;
        margin-top: 18em;
        
     }
     
     .discover{
        margin-top: 6em;
     }
     
     /* compare page */
     .compare_heading{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../IMAGES/daniel-mirlea-kPyN4psB90I-unsplash.jpg');
        background-size: cover;
     }

     .country_result .heading_city{
        text-decoration: underline;
        text-align: left;
     }

    .hidden_table{
        display: none;
     }

    .cost_info{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
     }

     .accordion {
        background-color: #eee;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
      }    

      .active, .accordion:hover {
        background-color: #ccc; 
      }

      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        font-size: 25px;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }

      .close{
        display: none;
      }

      .cost_info span{
        color:#144272;
        font-weight: 700;
      }

      /* countries page */
      .rate_heading{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../IMAGES/about.svg');
        background-size: cover;
      }
      .city_form{
        margin-top: 14em;
      }

    .chart-data{
        background: #2C74B3;
    }
    .chartBox {
        width: 900px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
      }
     .countries{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
     }
     .continent{ 
        min-height: 200px;
        margin: 0 auto;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        width: 250px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #144272;
     }
     .country-img{
        height: 250px;
     }
     .country-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     .country-info{
        padding: 20px 17px;
     }
     .country-info h4{
        color:white;
        font-weight:bolder;
        padding: 8px 0;
        letter-spacing: 1px;
     }
     .country-info p{
        letter-spacing: 2px;
     }
     .country-info p > strong{
        color: white;
        font-weight:600;
     }
     .showDropDown{
        display: block;
     }

     /* privacy policy page */
     .privacy_heading{
        background-image: url('../IMAGES/boliviainteligente-GtkpMJUftUk-unsplash.jpg');
        height: 80vh;
        background-size: cover;
     }
     .privacy-policy{
        background-color: #0E2A47;
     }

     /* FAQ page */
     .FAQaccordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
      }
      
      .action, .FAQaccordion:hover {
        background-color: #ccc;
      }
      
      .FAQaccordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
      }
      
      .action:after {
        content: "\2212";
      }
      
      .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
      }

     @media (max-width: 800px) {
        /* landing page  responsiveness*/
        .hero{
            margin-left: -4em;
        }
        .index_icons{
            display: flex;
            flex-flow:row;
            color: white;
            top: 90%;
            justify-content: space-between;
            margin-left: -1.2em;
        }  
        .index_icons a{
            padding-left: 2em;
        }
        /*search result responsiveness*/
        .main{
            display: flex;
            flex-direction: column-reverse;
        }

        .country_search_left,
        .country_search_right{
            width: 100%;
        }

        /*testimonials responsiveness*/
        .testify{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 6em;
        }
        .testimonials{
            margin-left: -5em;
            align-items: center;
        }
        .testimonials h4{
            text-align: center;
        }

        /*rate responsiveness*/
        .chartBox{
            width: 100%;
            padding: 2px;
        } 

       /*compare responsiveness*/
       /* .compare{
        padding-top: 14em;
        padding-bottom: 5em;
       } */

       .about-company,
       .about-developer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
       }
       .about-company p{
        text-align: center;
       }
       .about-developer p{
        text-align: center;
       }
       .enquiry{
        display: flex;
        flex-direction: column;
        padding-right: 2em;
        padding-left: 2em;
        justify-content: center;
       }
       .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
       .services .card{
         padding-right: 2em;
         padding-left: 3em;
       }
       .country-search{
        display: flex;
        flex-direction: column;
       }
    
    }   