*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.home_heading{
    background-image: url('../IMAGES/WorldMap.svg');
}
.start{
    align-items: center;
}
.intro{
    font-style: italic;
}
.country{
    background-color: #2C74B3;
}

.container{
    display: flex;
    justify-content: space-around;
}

.fa-star{
    font-size: 1.1em;
    cursor: pointer;
}
.testimonials_pic{
    width: 2.5em;
}
.testify{
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);

}
.star{
    color: #ffd700;
}
/* .vl{
    border-left: 2px solid black;
    height: 10px;
} */
.fact{
    color: #0E2A47;
}
.card p{
    color: #0E2A47;
}
.testimonials span{
    color: #0E2A47;
}
.testimonials p{
    color:#0E2A47;
}
.end{
    background-color: #2C74B3;
    color: #0E2A47;
    /* height: 70vh; */
}
hr{
    margin: 2em;
    background: white;
    height: 0.1em;
}
.new{
    margin: 2em;
    background: black;
    height: 0.1em;
}
.fa-brands{
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    margin:0 1.25em 1.25em 0;
    text-align:center;
    line-height: 2.5em;
    border-radius: 50%;
    color: #0E2A47;
    transition: all 0.2s ease;
    padding: 0.7em 0 0 0;
    background-color: white;
}
.fa-earth-americas{
    color: white;
    margin-top: 0.3125em;
}
.circle{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-color: #00344A;
}
.country_result{
    /* height: 100vh; */
    background-color: white;
}
.flag-img{
    width: 300px;
    height: 250px;
    min-width: 7.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}
.country_result h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}
.data-wrapper{
    margin-bottom: 2em;
    letter-spacing: 0.3px;
}

.data-wrapper h4{
    margin: 5px 0;
}

.country_result h4{
    display: inline;
    font-weight: 700;
    color: #144272;
}
.country_result span{
    color: #0A2647;
    font-weight: lighter;
}
.country_result h3{
    color: #144272;
    text-align: center;
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 15px 15px rgba(0,0,0,.2);
    font-weight: 700;
   
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.country_search_left,
.country_search_right{
    width: 45%;
}

table{
    width: 100%;
}

table th, table td{
    text-align: start;
    padding: 0 10px;
}

#map{
    height: 300px;
    width: 300px;
}

/* About */
.about_header{
    background-image: linear-gradient(rgba(18, 23, 62, 0.5), rgba(15, 19, 35, 0.5)),url('../IMAGES/about_back.jpg');
    background-position: cover;
    /* height: 100svh; */
}
.inquiry{
    background-color: #144272;
}
.About_us{
    background-color: #ffff;
}
.image_about{
    width: 200px;
    height: 200px;
}
.about_image{
    width: 15em;
    height: 15em;
}



/* landing page */
.landing_page{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../IMAGES/colin-watts-tK7Itp99R6M-unsplash.jpg');
    background-size: cover;
    background-position:center;
    overflow: hidden;
    min-height: 100vh;
    }
    .hero{
        width: 100%;
        height: 100%;
    }
  .landing_header{
    width: 100%;
    }
  .hero .content{
    display: flex;
    justify-content: space-between;
  }
  .info{
    margin-top: 8em;
    margin-left: 5em;
  }
  .index_icons{
    position: fixed;
    display: flex;
    flex-flow:column wrap;
    color: white;
    top: 45%;
    margin-left: 1.2em;
  }  
    .hero .content .travellers{
        display: flex;
        flex-direction: row;
     }
     .land_travellers{
        width: 200px;
        height: 220px;
        margin-top: 18em;
        
     }
     
     /* compare page */
     .compare_heading{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../IMAGES/daniel-mirlea-kPyN4psB90I-unsplash.jpg');
        background-size: cover;
     }
     .country_result .heading_city{
        text-decoration: underline;
        text-align: left;
     }
     #loader {
        display: none;
      }
      
      #loader.show {
        display: block;
      }
