*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url('../IMAGES/worldmap.jpg');
}
.name{
    color: #FA1515;
}
.start{
    align-items: center;
}
.intro{
    font-style: italic;
}
.compare{
    height: 100vh;
}
.country{
    background-color: #00085E;
}

.container{
    display: flex;
    justify-content: space-around;
}

.fa-star{
    font-size: 1.1em;
    cursor: pointer;
}
.new{
    color: red;
}

.testimonials_pic{
    width: 2.5em;
}
.testify{
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);

}
.star{
    color: #ffd700;
}
/* .vl{
    border-left: 2px solid black;
    height: 10px;
} */
.fact{
    color: #00344A
}
.end{
    background-color: #E4F7FF;
    color: #00344A;
    /* height: 70vh; */
}
h2{
    color: #FA1515;
}
hr{
    margin: 2em;
    background: black;
    height: 0.1em;
}
.fa-brands{
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    margin:0 1.25em 1.25em 0;
    text-align:center;
    line-height: 2.5em;
    border-radius: 50%;
    color: #00344A;
    transition: all 0.2s ease;
    padding: 0.7em 0 0 0;
    background-color: white;
}
.testimonials h4{
    color: red;
}
.fa-earth-americas{
    color: white;
    margin-top: 0.3125em;
}
.circle{
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background-color: #00344A;
}

/* About */
.about_header{
    background-image: url(../IMAGES/physical-world-map.jpg);
    background-position: center;
}
.inquiry{
    background-color: #00085E;
}
.text,
.us,
.developer{
    color:#FA1515;
}
.About_us{
    background-color: #ffff;
}

